body {
  font-family: serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

footer {
  text-align: center;
}

.banner {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.language-switch {
  position: fixed;
  top: 10px;
  right: 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.intro {
  margin-bottom: 20px;
}

.related-links {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: left;
}

.related-links ul {
  list-style: none;
  padding: 0;
}

.related-links li {
  margin-bottom: 5px;
}

.related-links a {
  text-decoration: underline;
  color: #00bfff;
}

.related-links a:hover {
  color: #0000ff;
}

.tweet-button {
  background-color: #1DA1F2;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  display: block;
  margin-right: 30px;
  margin-left: 30px;
}

.tweet-button:hover {
  background-color: #0D8DD4;
}

.twitter-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.twitter-icon img {
  width: 20px;
}

.typing.other::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/img/other-icon.png');
  background-size: contain;
  margin-right: 5px;
}

.typing.twitter::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/img/twitter-icon.png');
  background-size: contain;
  margin-right: 5px;
}

.typing.instagram::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/img/instagram-icon.png');
  background-size: contain;
  margin-right: 5px;
}

.typing.misskey::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/img/misskeyio-icon.png');
  background-size: contain;
  margin-right: 5px;
}

.typing.github::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/img/github-icon.png');
  background-size: contain;
  margin-right: 5px;
}

.typing.youtube::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/img/youtube-icon.png');
  background-size: contain;
  margin-right: 5px;
}

.typing.twitch::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/img/twitch-icon.png');
  background-size: contain;
  margin-right: 5px;
}
